@import spina/configuration

$minimized-nav-width: 80px

body
  background: white

html, body
  letter-spacing: 1px

  // Admin navigation
  nav#primary
    background: white
    border-right: solid 1px lightgrey

    &.minimized
      // TODO: use variable for width
      width: $minimized-nav-width

    ul li 
      input[type=radio]
        display: none
        &:checked + label
          color: black
        &:checked ~ ul
          transform: translateX(0%)

      label
        cursor: pointer
        color: grey
        display: block
        font-size: 18px
        font-weight: 600
        line-height: 54px
        outline: none
        padding: 0 20px
        position: relative

        .icon
          font-size: 26px
          margin-left: 5px
          margin-right: 11px

        .icon-caret-right
          font-size: 18px
          position: absolute
          right: 10px

        .icon-home
          font-size: 32px
          margin-left: 2px
          margin-right: 8px

      ul
        background: white
        border-left: solid 1px lightgrey

        a
          color: black
          transition: background .2s
          &:hover
            background: $primary-color

      //TODO: fix the active tags
      &.active
          ul li.active
            opacity: .5

  #main
    &.maximized
      padding-left: $minimized-nav-width + 40px

    header#header
      &.maximized
        left: $minimized-nav-width

  // Overwrite some defaults used for javascript
  nav#primary.transformed 
    & > ul
      background: none
      li.active ul
        transform: translateX(100%)

    ul li.bottom a i
      color: black

  // The main container with content
  section#main
    div.gallery-container div.gallery
      a.item.media-folder.ui-droppable
        background: lighten($primary-color, 45)
        border: 1px solid $primary-color-light


